

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10vh; 
  }

  
  .roverCard {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border: 10px solid #3d2104; /* Frame color */
    padding: 5px; /* Space between the image and the frame */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    background-color: #fff; /* Background color of the frame */
  }
  
  .roverCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
  }
  
  .roverCard:hover img {
    filter: brightness(50%);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .roverCard:hover .overlay, .roverCard:active .overlay, .roverCard:focus .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .title {
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
  }

  /* Media queries for responsive design */
@media (max-width: 768px) {
  .gallery {
    flex-direction: column;
  }

  .roverCard {
    width: 100%;
    height: auto;
  }

  .overlay {
    opacity: 0.8; /* Make the overlay slightly visible on mobile */
  }

  .roverCard:hover .overlay, .roverCard:active .overlay {
    opacity: 1; /* Fully show the overlay on hover/tap */
  }

  .text {
    opacity: 0.8; /* Make the text slightly visible on mobile */
  }

  .roverCard:hover .text, .roverCard:active .text {
    opacity: 1; /* Fully show the text on hover/tap */
  }

  .title {
    font-size: 28px;
  }
}